@import url(assets/css/common.css);
@import url(assets/css/iconfont.css);
.left-container {
  margin-left: inherit;
}
/* HEAD */
.jumbotron {
  background-size: cover;
  padding: 7rem 1rem;
}
@media (min-width: 992px) {
  .jumbotron-lg {
    padding: 10rem 0;
  }
}
.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
/* main */
.input-round{
  border-radius: 10px !important;
}
.p-click {
  cursor: pointer;
}
.p-click:hover {
  opacity: 0.7;
}

.display-demo{
  width:100px;
  height: 900px;
}

.ma{
  margin: auto !important
}
.h-md-100{
  height: 100vh;
}

.alert-position{
  top: 15% !important;
  left:45% !important;
  /* 设置层级高于modal弹窗 */
  z-index:9999 !important;
}



.tool-cancel:hover{
  cursor: pointer;
  color:var(--bs-danger)
}
.tool-edit:hover{
  cursor: pointer;
  color:var(--bs-warning)
}
.img-footer{
  background-color: #fff;
}

.img-object{
  object-fit: cover;
  object-position:  50% 50%;
}
.navbar-collapse {
  justify-content: space-between;
}
